@model Nop.Plugin.Widgets.BookDiscount.Models.PublicInfoModel
@{
    Layout = "";
}
<link rel="stylesheet" href="~/Plugins/Widgets.BookDiscount/Content/book-discount.css" />

<div class="discount-message">@Model.Message</div>